.todoBody {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    width: 500px;
    height: 800px;
    padding: 10px;
    background-color: rgb(121, 121, 121);
}